.notes-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column; 
  top: 8%;
  right: 0;
  left: 0; 
  /* border: 1px solid blue;  */
}

.notes-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  padding-left: 1.5%; 
  margin-top: 2%; 
  color: transparent;
  background: #1f026e;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.notes-outer {
  position: relative;
  display: flex; 
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1%;
  /* border: 1px solid black;  */
}