#noteBox-wrapper {
  /* display: flex;  */
  /* flex-wrap: wrap; */
  margin: 1% 0 0 0; 
  /* padding: 1%;  */
  /* border: 1px solid blue;  */
}

.noteBox-outer {
  position: relative;
  justify-content: space-evenly;
  top: 45%;
  font-family: 'Reenie Beanie';
  font-size: 2em;
  line-height: 1;
  text-align: center;     
  width: 275px;    
  margin: 25px;    
  min-height:180px;
  max-height:250px;
  padding-top:35px;
  border:1px solid #E8E8E8;  
  border-top:60px solid #fdfd86;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;    
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.noteBox-outer:after {
  content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
     -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
         transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.noteBox-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%; 
  padding-left: 7%; 
  /* border: 1px solid black; */
}

.noteBox-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em; 
  color: rgb(0, 64, 255);
  text-shadow: 1px 2px 3px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none; 
  height: 40%;
  width: 30%;
  border-radius: 6px;
  background: orange; 
  border: 1px solid orange; 
}

.noteBox-button:hover {
  background: none; 
}