.nav-outer {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  width: 100%; 
  height: 8%;
  border: 2px solid black; 
}

.nav-title {
  border: 1px solid orange;
}

/* Logged In */
.links-loggedIn {
  text-decoration: none;
  outline: none;
}

/* Signed Out */
.links-signedOut-wrapper {
  display: flex;
  border: 1px solid blue; 
}


.links-signedOut {
  text-decoration: none;
  outline: none; 
}